<div class="main-container">
  <top-alert [message]="alertMessage" [alertType]="alertType"></top-alert>
  <header class="header header-4">
      <div class="branding">
          <clr-icon shape="star" size="30" style="margin: 0 auto;top: 50%;transform: translateY(40%);"></clr-icon>
          <a [routerLink]="['/dashboard']" routerLinkActive=""  class="nav-link">
              <span class="title">Show movies</span>
          </a>
      </div>
      <form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search for movies...">
        </label>
    </form>
    <div class="header-actions">
      <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a [routerLink]="['/about']" routerLinkActive="active"  clrDropdownItem>About</a>
              <a [routerLink]="['/user-preferences']" routerLinkActive="active"  clrDropdownItem>Preferences</a>
              <a [routerLink]="['/log-out']" routerLinkActive="active"  clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a [routerLink]="['/dashboard']" routerLinkActive="active"  class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/downloads']" routerLinkActive="active"  class="nav-link">Downloads</a>
        </li>
    </ul>
  </nav>
  <div class="content-container">
      <div class="content-area">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
